{% extends 'base.html' %}
{% load cart %}

{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/1.jpg" height="500" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/2.jpg" height="500" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/3.jpg" height="500" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<h2 class="mt-5 text-center">Select from our Amazing range of Kulfis</h2>
<div class="container pt-0">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for kulfi in kulfis %}
        <div class="col mt-0 mb-3">
          <div class="card shadow-sm">
            <img src="{{kulfi.kulfi_pic.url}}" height="200" width="400" alt="">
            <div class="card-body pt-1 pb-2">
              <a href="{% url 'kulfi' %}?data_param=Malai-Kulfi" >
                {{kulfi}}
              </a>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
            <div class="card-footer row p-1 no-gutters">
              {% if not kulfi|is_in_cart:request.session.cart %}
              <form action="/" method="POST" class="btn-block">
                {% csrf_token %}
                <input hidden type="text" value="{{kulfi.id}}" name="kulfi">
                <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart</button>
              </form>
              {% else %}
              <div class="row">
                <form action="/" method="post" class="col-2">
                  {% csrf_token %}
                  <input hidden type="text" value="{{kulfi.id}}" name="kulfi">
                  <input hidden type="text" value="True" name="remove">
                  <input type="submit" value=" - " class="btn btn-block btn-dark">
                </form>
                <div class="text-center col">{{ kulfi|cart_quantity:request.session.cart }} in cart</div>
                <form action="/" method="post" class="col-2">
                  {% csrf_token %}
                  <input hidden type="text" value="{{kulfi.id}}" name="kulfi">
                  <input type="submit" value=" + " class="btn btn-block btn-dark">
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}


